* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    gap: 32px;
    padding: 16px;
    background-color: lightskyblue;
}

button {
    background-color: #333;
    color: white;
    border-radius: 6px;
    border: none;
    height: 32px;
    padding: 4px 8px;
    margin: 4px;
}
button:hover {
    background-color: #444444;
}
input {
    padding: 0 8px;
    margin: 4px;
    border-radius: 6px;
    border: none;
    height: 24px;
}
.Login {
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px;
    background-color: lightgray;
    border-radius: 6px;
}

img {
    width: 300px;
    height: 300px;
}

.file-card {
    padding: 4px;
    margin: 4px;
    background-color: #aaaaaa;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 6px;
}
